body {
    background-color: #0D253F;
    --bs-primary: #01b4e4;
    --bs-secondary: #90cea1;
}

#movie-details-section {
    color: #ffffff;
}

/* Custom color for genre/keyword badges */
.badge-custom {
    background-color: #00a99d; /* A custom teal color */
    color: white;
}

/* Custom gradient for placeholder boxes */
.placeholder-gradient {
    background-image: linear-gradient(to bottom, #0d3d4b, #006c5f);
    border-radius: 1rem; /* Matching the border-radius from the image */
}

/* Style for the cast list to enable horizontal scrolling */
#cast-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 15px; /* Add some space for the scrollbar */
}

.cast-member {
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    width: 140px;
    height: 210px;
    margin-right: 1rem;
}