body {
    background-color: #0D253F;
    color: var(--bs-light);
    --bs-primary: #01b4e4;
    --bs-secondary: #90cea1;
}

/* Custom color for genre/keyword badges */
.badge-custom {
    background-color: var(--bs-primary); /* A custom teal color */
    color: white;
}

/* Custom gradient for placeholder boxes */
.placeholder-gradient {
    background: linear-gradient(113deg, var(--bs-primary) 0%, var(--bs-secondary) 100%);
    border-radius: 1rem; /* Matching the border-radius from the image */
}

/* Style for the cast list to enable horizontal scrolling */
#castList {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-bottom: 15px; /* Add some space for the scrollbar */
}

.cast-member {
    flex: 0 0 auto; /* Prevent flex items from shrinking */
    width: 140px;
    height: 210px;
    margin-right: 1rem;
}